.home {
    background: url(http://outlu.com/images/blog/blog3.jpg) no-repeat center top;
    color: #fff
    background-size:contain
}

.home .banner .collection-head {
    color: #fff;
    background: 0 0;
    box-shadow: none;
    -webkit-box-shadow: none
}

.home .site-header {
    border-bottom: none
}

.home .site-header h1 a {
    color: #fff
}

.home .site-header .site-header-nav-item {
    color: #fff
}

.home .site-header .site-header-nav-item:hover {
    border-radius: 25px;
    transition: all 0.5s linear;
    background-color: #4183c4;
    color: #fff
}


@media (max-width:50em) {
  .home .collapsed .icon-bar {
    background-color: white;
  }

  .home .collection-head .collection-header {
    font-size: 1.25em;
  }
}
